.vid{
	background: url("https://www.comolademo.es/demos/colorear-foto.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vid{
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://www.comolademo.es/demos/colorear-foto.jpg");
}

.entrada{
  font-size: 35px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.bienv{
	font-size: 25px;
	font-family:  'Source Sans Pro';
	color :white;
  	text-align: center; 
}

.log{
	font-family: "Shadows Into Light";
	font-size: 30px;
	color: yellow;
	font-style: oblique;
}

.box input{
	color: white;
	text-decoration: none;
}

.box input[type = "text"], [type = "button"]{ 
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid skyblue;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input:hover{
	background: rgb(202, 198, 198, .5);
}

.icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display:block;
	margin:auto;
}

.tit{
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
}

.login{
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}

.cen{
	background: url("../images/fondo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main a{
	color: white;
	font-size: 18px;
	font-family: "Quicksand";
	text-decoration: none;
}

.main a:hover{
	color: yellow;
}

.present{
	color: white;
	text-align: center;
	font-family: "Script";
	font-style: italic;
	font-size: 45px;
}

.presen{
	color: white;
	text-align: center;
	font-family: "Montserrat";
	font-size: 55px;
	font-style: italic;
}

.tell:hover{
	border-color: rgb(202, 198, 198, .5);
}

.tell{
	background: rgb(0, 0, 0, .5);
	border: 1.5px solid #1C2938;
}

.serv{
	background: white;
}

.basic{
	background: white;
	width: 100% !important;
	text-align: center;
}

.serv{
	font-family: sans-serif;
	font-size: 30px;
	color: black;
	text-align: center;
}

.serve{
	font-family: "nunito";
	font-size: 22px;
	text-align: center;
}

.ter{
	font-family: "PT serif";
	font-size: 20px;
	text-align: center;
}