/* Fondo de login */
.vid{
	background: url("https://www.comolademo.es/demos/colorear-foto.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Para darle estilo al login */
.vid{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://www.comolademo.es/demos/colorear-foto.jpg");
}

/* Texto del primero contenedor pagina loginl */
.entrada{
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: Arial;
}

.bienv{
	font-size: 25px;
	font-family:  'Source Sans Pro';
	color :white;
  	text-align: center;
}

.log{
	font-family: "Shadows Into Light";
	font-size: 30px;
	color: yellow;
	font-style: oblique;
}

/* estilos para Boton de redireccionamiento y correo electronico */
.box input{
	color: white;
	text-decoration: none;
}

.box input[type = "text"], [type = "button"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid skyblue;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input:hover{
	background: rgb(202, 198, 198, .5);
}

.icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display:block;
	margin:auto;
}

.tit{
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
}

.login{
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}

  /* Pagina Principal */
.cen{
	background: url("../images/fondo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Barra de navegacion */
.navbar{
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0px;
	transition: .5%;
	z-index: 1;
}

.navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 50px;
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	cursor: pointer;
	border-radius: 10px;
	transition: .5%;
}

.navbar ul li:hover{
	background: orange;
}

/* Presentacion */

.present{
	color: white;
	text-align: center;
	font-family: "Script";
	font-style: italic;
	font-size: 45px;
}

.presen{
	color: white;
	text-align: center;
	font-family: "Montserrat";
	font-size: 55px;
	font-style: italic;
}

 /* Boton muestrame mas */

.tell:hover{
	border-color: rgb(202, 198, 198, .5);
}

.tell{
	background: rgb(0, 0, 0, .5);
	border: 1.5px solid #1C2938;
}

.serv{
	background: white;
}

.basic{
	background: white;
	width: 100% !important;
	text-align: center;
}

/* Servicios */

.serv{
	font-family: sans-serif;
	font-size: 30px;
	color: black;
	text-align: center;
}

.serve{
	font-family: "nunito";
	font-size: 22px;
	text-align: center;
}

.ter{
	font-family: "PT serif";
	font-size: 20px;
	text-align: center;
}

.infor{
	text-align: center;
	font-family: "Roboto Slab";
	font-size: 15px;
	color: #6c757d !important;
}

.iconos{
	padding-right: 95%;
	padding-top: 5%;
	display: list-item;
}

footer{
	padding: 2.5%;
	margin-top: 20px;
	background-color: rgb(87, 73, 70, .5);
	text-align: center;
}

.cente{
	padding-left: 2.5%;
}

.img{
	height: 200px;
	width: 300px;
	padding: 3%;
	padding: 5%;
}

/* Proyectos */

.subs{
	text-align: center;
	font-size: 25px;
}

.subt{
	text-align: center;
	font-size: 15px;
}

.bot input{
	text-align: center;
	font-size: 18px;
	color: black;
}

/* Pagina Intro */


.pop{
	font-family: Quicksand;
	font-weight: 700;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: lighter;
	font-size: 40px;
}

.welcome-section{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	overflow: hidden;
}

.content-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fly-in-text{
	list-style: none;
}

.fly-in-text li{
	display: inline-block;
	margin-right: 20px;
	font-size: 5em;
	color: #fff;
	opacity: 1;
	transition: all 3s ease;
}

.fly-in.text li:nth-child(5){
	margin-right: 0;
}

.enter-button{
	display: block;
	text-align: center;
	font-size: 2em;
	color: #adff2f;
	opacity: 1;
	margin-top: 30px;
	transition: all 1s ease 3s;
}

.enter-button:link{
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

.content-hihhen .fly-in-text li {opacity: 0;}

.content-hidden .fly-in-text li:nth-child(1) { transform: translate3d(-60px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(2) { transform: translate3d(-30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(3) { transform: translate3d( 0px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(4) { transform: translate3d( 30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(5) { transform: translate3d( 60px, 0, 0); }
.conten-hidden .enter-button {opacity: 0; transform: translate3d( 0, -30px, 0); }
